.modal-overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-profile {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-content-profile p {
  font-size: 20px;
}

@media (max-width: 440px) {
  .modal-content-profile {
    width: 80%;
  }
}

.modal-header-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 10px;
}

.modal-title-profile {
  font-size: 18px;
  font-weight: bold;
  padding-right: 100px;
}

.close-button-profile {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding-left: 20px;
}
